.signup-form-mother{
  background-image: url(./authImages/signupImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  background-position: 0px -280px;
  }

