.ticket-close-edit{
  width: 50px;
  height: 50px;
  border: 1px solid #ECE8E1;
  position: relative;
  left: 350px;
  top: -43px;
  padding: 5px;
  cursor: pointer;

  overflow: hidden;
}

.ticket-close-edit-img{
  transition: transform 200ms ease-in-out;
  width: 50px;
  height: 50px;
}

.ticket-close-edit:hover .ticket-close-edit-img{
  transform: scale(1.1);
}

.edit-ticket-form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.ticket-input {
  padding: 15px 20px;
  /* width: 100%; */
}

#ticket-des {
  resize: none;
  height: 100px;
}

.ticket-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 60px;
  width: 800px;
  margin-bottom: 60px;
}

.edit-ticket-form-title-des{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
}

.edit-ticket-form-title{
  font-size: 50px;
  font-weight: bolder;
  padding: 0px 10px;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.edit-ticket-form-des{
  font-size: 14px;
  padding: 0px 10px;
  color: #666666;
  letter-spacing: 1.5px;
}

.edit-ticket-input-wrapper{
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-ticket-input-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 20px;
  width: 100%;
}

.edit-ticket-label{
  font-size: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  letter-spacing: 1px;
}

.edit-ticket-radio{
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.edit-radio{
  font-size: 14px;
  margin-bottom: 10px;
}

.radio-label{
  padding: 0px 10px;
}

.button-edit-ticket {
  border: none;
  background: #E4373C;
  display: flex;
  font-size: 11px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  justify-content: center;
  width: 180px;
  height: 44px;
  align-items: center;
  margin-top: 10px;
}

.edit-ticket-modal-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ECE8E1;
  background: transparent;
  color: #818181;
  cursor: pointer;
}

.edit-ticket-modal-button:hover{
  color: #DA363A;
  border-color: #ffd0d0;
}
