.support-top-wrapper {
  background-image: url(./supportImages/supportBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 52vh;
  width: auto;
  background-position: 0px -62px;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* .support-top{
  height: 300px;
  margin-top: 500px;
  margin-bottom: 300px;
  z-index: 1;
} */

.support-title {
  width: 650px;
  margin-bottom: 25px;
}

.support-ticket-icons {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 100px;
  margin-bottom: 25px;
  text-align: center;

}

.support-ticket:hover .support-icon {
  transform: scaleX(-1);
  margin-left: -2px;
  transition: transform 0.6s;
}

.support-icon {
  width: 100px;
  height: 100px;
  transition: transform 0.6s;
}

.support-name {
  font-size: 20px;
  width: 90px;
  /* font-weight: bold; */
  padding: 0px 10px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-family: 'Anton', sans-serif;
}

.support-ticket {
  margin-top: 50px;
  text-decoration: none;
  width: 120px;
  color: black;
}

.support-ticket:hover {
  color: #E4373C;
  transition: color 0.6s;
}


.support-all {
  display: flex;
  width: 100%;
  height: 700px;
  background-color: #FAFAFA;
  margin-top: 120px;
  align-items: center;

}

.support-all-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 310px;
  background-color: #F5F5F5;
  position: relative;
}

.support-all-img {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-image: url(./supportImages/varorantOutlined.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -10px;
  opacity: 0.5;
}

.support-all-line {
  width: 100%;
  height: 3px;
  background-color: #ECEAE7;
  margin-top: 20px;
  margin-bottom: 20px;
}


.support-all-text-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.support-all-text {
  font-family: 'Anton', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  /* height: 100%; */
  text-align: center;
  font-size: 40px;
  width: 350px;
  margin-top: -20px;
  letter-spacing: 2px;
  line-height: 50px;
}

.support-all-button{
  border: none;
  background: #E4373C;
  display: flex;
  font-size: 11px;
  font-weight: bold;
  color: white;
  /* padding: 10px 20px; */
  cursor: pointer;
  justify-content: center;
  width: 230px;
  height: 40px;
  align-items: center;
  margin-top: 20px;
  letter-spacing: 1px;
}
