.support-top-wrapper{
  background-image: url(./supportImages/supportBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 52vh;
  width: auto;
  background-position: 0px -62px;
  justify-content: center;
  display: flex;
  align-items: center;
}

/* .support-top{
  height: 300px;
  margin-top: 500px;
  margin-bottom: 300px;
  z-index: 1;
} */

.support-title{
  width: 650px;
  margin-bottom: 25px;
}

.support-ticket-icons{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 100px;
  margin-bottom: 25px;
  text-align: center;

}

.support-icon:hover {
  transform: scaleX(-1);
  margin-left:2.5px;
  transition: transform 0.6s;
}

.support-icon{
  width: 100px;
  height: 100px;
  transition: transform 0.6s;
}

.support-name{
  font-size: 20px;
  width: 90px;
  /* font-weight: bold; */
  padding: 0px 10px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-family: 'Anton', sans-serif;
}

.support-ticket{
  margin-top: 50px;
  text-decoration: none;
  width: 120px;
  color: black;
}
