/* TODO Add site wide styles */
* {
  /* for title */
  font-family: 'Antonio', sans-serif;
  /* for text */
  font-family: 'Anton', sans-serif;
  font-family: 'Cabin', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

