.playnow-modal-wrapper {
  color: white;
  padding: 40px 300px;
  display: flex;
  width: 600px;
  flex-direction: column;
  border-top: 1px solid #ECE8E1;
  border-bottom: 1px solid #ECE8E1;
  justify-content: center;
}

.playnow-title {
  font-family: 'Antonio', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 90px;
  font-weight: bold;
}

.playnow-title-text {
  margin: 0px 30px;

}

.playnow-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
  justify-content: space-around;
}

.playnow-individual-border {
  border: 13px solid;
  /* padding: 10px; */
  border-image-source: url(./NavImages/BtnBorder.png);
  border-image-slice: 34;
  border-image-repeat: round;
}

.playnow-individual-button {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 60px;
  font-weight: bolder;
  cursor: pointer;
  font-family: 'Cabin', sans-serif;
  transition: 0.8s;
  position: relative;
  border: 1px solid #61676A;
  overflow: hidden;
  color: var(--color);
  background-color: var(--background-color);

  color: black;
  /* --background-color: #0F1923; */
}


.playnow-individual-text {
  /* margin-bottom: 10px; */
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 14px;
}

#playnow-make-one::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0F1923;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in-out;
}

#playnow-make-one:hover::before,
#playnow-make-one:focus::before {
  transform: scaleX(1);
}

#playnow-make-one:hover,
#playnow-make-one:focus {
  color: #ECE8E1;
}

#playnow-make-one {
  z-index: 1;
  --background-color: #ECE8E1;
}

#playnow-sign-in::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0F1923;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 200ms ease-in-out;
}

#playnow-sign-in:hover::before,
#playnow-sign-in:focus::before {
  transform: scaleX(1);
}

#playnow-sign-in {
  color: #ECE8E1;
  background-color: #FF4655;
  z-index: 1;
  transition: transform 200ms ease-in-out;

}

.playnow-cancel{
  width: 50px;
  height: 50px;
  border: 1px solid #ECE8E1;
  position: relative;
  left: 820px;
  top: -25px;
  padding: 5px;
  cursor: pointer;

  overflow: hidden;
}

.playnow-cancel-img{
  transition: transform 200ms ease-in-out;
  width: 50px;
  height: 50px;
}

.playnow-cancel:hover .playnow-cancel-img{
  transform: scale(1.1);
}

.nav-playnow-modal-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  background: linear-gradient(to right, rgb(255, 73, 73), #f6714d);
}
