.playnow-modal-wrapper{
  color: white;
  padding: 100px 300px;
  display: flex;
  width: 600px;
  flex-direction: column;
  justify-content: center;
}

.playnow-title{
  font-family: 'Antonio', sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 80px;
  font-weight: bold;
}

.playnow-title-text{
  margin: 0px 30px;

}

.playnow-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.playnow-individual-button{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 60px;
  font-weight: bolder;
  font-family: 'Cabin', sans-serif;
}

.playnow-individual-text{
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 14px;
}

#playnow-make-one{
  background-color: #ECE8E1;
}

#playnow-sign-in{
  background-color: #FF4655;
  color: #ECE8E1;
}
