.login-form-mother {
  background-image: url(./authImages/loginImg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: auto;
  background-position: 0px -285px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.login-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F9F9F9;
  width: 450px;
  height: auto;
  padding: 60px 40px;
}

.login-form-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 7px;
  /* height: 100%; */
}

.login-input-box {
  position: relative;
  width: 100%;
}

.login-message {
  display: flex;
  font-size: 35px;
  font-weight: bold;
  padding: 25px 10px;
  margin-bottom: 30px;
  justify-content: center;
}

.login-input-box input {
  width: 91.5%;
  padding-top: 28px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: 1px solid black;
  background: #EDEDED;
  font: inherit;
  border: none;
  color: #666666;
}

.login-input-box input:focus {
  background-color: #F9F9F9;
}

.login-input-box label {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 15px;
  pointer-events: none;
  transition: .5s;
  color: #666666;
  /* background-color: #F9F9F9; */
}

.login-input-box input:valid+label,
.login-input-box input:focus+label {
  font-size: 15px;
  top: -5px;
  left: 0;

}

.submit-login-button {
  background-color: #FF4655;
  padding: 30px;
  border: none;
  border-radius: 20px;
  margin-top: 90px;
  margin-bottom: 45px;
  color: white;
}

.submit-login-button:disabled {
  background-color: #F9F9F9;
  padding: 30px;
  border: 2px solid #E8E8E8;
  border-radius: 20px;
  margin-top: 90px;
  margin-bottom: 45px;
  opacity: 0.5;
  color: #E8E8E8;
}

.fa-arrow-right {
  /* color: white; */
  font-size: 30px;
}

.demo-user {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.demo-login-button {
  border: 1px solid #ECECEC;
  padding: 14px 20px;
  width: 50%;
  border-radius: 10px;
}

#demo-1 {
  background-color: black;
  color: white;
}

#demo-2 {
  background-color: white;
  color: black;
}

.login-redirect {
  text-decoration: none;
  color: inherit;
  color: #666666;
  font-weight: bold;
  font-size: 13px;
}


.login-homepage {
  text-decoration: none;
  color: inherit;

}

.logout-button {
  background-color: transparent;
  color: #ECE8E1;
  border: none;
  padding: 6px 20px;
  width: 100%;
  font-size: 16px;
  border-radius: 8px;
  /* text-align: left; */
  display: flex;
  justify-content: flex-start;
  color: #808080;
}

.logout-button:hover {
  background-color: #666666;
  color: #ECECEC
}

.sign-in-error {
  border: 1px solid #E35B66;
  background-color: #FFF0F1;
  width: 98%;
  /* height: 24px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 5px;
  gap: 5px;
  color: #E35B66;
  font-size: 14px;
}


.caution {
  width: 20px;
}


.login-logo {
  position: relative;
  top: -430px;
  left: -590px;
}

.signin-home-individual-logo {
  width: 60px;
  height: 60px;
}


.signin-home-individual-logo:hover {
  filter: invert(99%) sepia(2%) saturate(2246%) hue-rotate(254deg) brightness(118%) contrast(86%);
}

.signin-home-logo:hover+div {
  color: #101D2C;
}


.signin-home:hover .signin-home-individual-logo {
  filter: invert(99%) sepia(2%) saturate(2246%) hue-rotate(254deg) brightness(118%) contrast(86%);
}

.signin-home:hover .signin-home-name {
  color: #101D2C;
}


.singin-link-home {
  text-decoration: none;
  color: inherit;
}

.signin-home-name {
  color: white;
  font-size: 30px;
  font-weight: bold;
  line-height: 30px;
  margin-left: 6px;
  width: 15px;
}

.signin-home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
