.video-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-bottom: 100px;
  position: relative;
  /* overflow: hidden; */
  /* min-height: 75vh; */
  /* min-width: 100vh; */
  width: 100%;
  height: 72vh;
}

.home-video {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 50px;
  /* top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  min-width: 100%;
  min-height: 100%; */
}

.video-des {
  margin-top: 45px;
  margin-bottom: 25px;
}

.video-title {
  width: 650px;
  margin-bottom: 25px;
}

.video-line {
  position: absolute;
  width: 1230px;
  height: 1000px;
  left: 305px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.video-line-2 {
  position: absolute;
  width: 1230px;
  height: 1000px;
  left: 593px;
  border-left: 1px solid white;
}
