.delete-ticket-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 400px;
  padding: 50px;
  /* height: 200px; */
}

.ticket-close-delete{
  width: 50px;
  height: 50px;
  border: 1px solid #ECE8E1;
  position: relative;
  left: 370px;
  top: -35px;
  padding: 5px;
  cursor: pointer;

  overflow: hidden;
}

.ticket-close-delete-img{
  transition: transform 200ms ease-in-out;
  width: 50px;
  height: 50px;
}

.ticket-close-delete:hover .ticket-close-delete-img{
  transform: scale(1.1);
}

.button-delete-ticket{
  border: none;
  background: #E4373C;
  display: flex;
  font-size: 11px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  justify-content: center;
  width: 180px;
  height: 44px;
  align-items: center;
  margin-top: 10px;
}

.delete-ticket{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-ticket-title{
  font-size: 50px;
  font-weight: bolder;
  padding: 0px 10px;
  letter-spacing: 1px;
  margin-bottom: 60px;
}

.delete-ticket-modal-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ECE8E1;
  background: transparent;
  color: #818181;
  cursor: pointer;
}

.delete-ticket-modal-button:hover{
  color: #DA363A;
  border-color: #ffd0d0;
}

