.ticket-mother{
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.ticket-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}

.ticket-type{
  /* border: 1px solid black; */
}
