.img-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 25;
  color: #ECE8E1
}

.clicked-img {
  display: block;
  width: 1230px;
  height: 690px;

  /* height: auto; */
}

.close-img-modal {
  width: 60px;
  border: 1px solid #ECE8E1;
  position: absolute;
  padding: 5px;
  top: 0;
  left: 1158px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.img-modal-content {
  margin-top: 105px;
  position: absolute;
  background-color: #0F1923;
  width: 1230px;
  /* height: 600px; */
}

.img-title-buttons {
  display: flex;
  flex-direction: row;
  height: 70px;
  align-items: center;
}

.fa-angle-left,
.fa-angle-right {
  /* border: 1px solid #ECE8E1; */
  padding: 25px;
  position: relative;
  z-index: 6;
}

.modal-left,
.modal-right {
  cursor: pointer;
  display: block;
}

.img-modal-img-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-left: 70px;
  text-transform: uppercase;
}

.button-delete-media {
  background-color: transparent;
  border: none;
  color: #FF4655;
  margin-right: 20px;
  height: 20px;
  cursor: pointer;
}

.button-delete-media:hover {
  color: #ECE8E1;
}

.img-title-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.img-title-button-overlay {
  position: relative;
  border: 1px solid #ECE8E1;

}


.img-title-button-overlay:hover .img-title-overlay {
  width: 100%;
  position: absolute;
}

.img-title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: #78000e;
  overflow: hidden;
  width: 0;
  height: 100%;
  z-index: 5;
  transition: .2s ease;
  opacity: 0.6;
  /* border: 1px solid #ECE8E1; */
}
